*{
    margin: 0%;
    padding: 0%;
}
body{
   
    background-color: antiquewhite;
    color: brown;
    font: optional;
    font-display: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    margin:25px 250px 200px 250px;
}